@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Thumper's</h1>
    <br/>
    <img src="images/TheBazaarLogo.png" alt="The Bazaar Logo" class="img-fluid w-100" />
    <br/>
    <p>The Bazaar is a new asynchronous autobattler developed by TEMPO.</p>
    <p>Throughout each run of the game you:</p>
    <ul>
        <li>Choose a Hero</li>
        <li>Draft Items</li>
        <li>Fight Enemies</li>
        <li>Fight other players</li>
    </ul>
    <p>Get to 10 wins against other players and you win!</p>
    <p>Three losses before doing so, and your run ends</p>
    <h2>Here's Hilton:</h2>
    <img src="images/Hilton.png" alt="HiltonProfessing" class="img-fluid w-100"/>
</div>
